name: nodejs pipeline
on:
 workflow_call: 
  inputs:
    project:
     required: true
     type: string
    environment:
     required: true
     type: string
    component:
     required: true
     type: string
jobs:
 nodejs-pipeline:
  runs-on: DEV
  steps:
  - name: Get code
    uses: actions/checkout@v6
    
  - name: List files
    run: ls -l

  - name: Get application version
    run: |  # When we store it in GITHUB_ENV it can be used in other steps in the same job.
      echo "appVersion=${GIHUB_SHA::5} >> $GITHUB_ENV

  - name: print app version
    run: |
     echo ${appVersion}
     
  - name: Unit test
    run: echo "Test successful"




  
    
    
  
   
 









 
  
     
 
