name: nodejs-pipeline
on: 
 workflow_call:
  inputs:
   project:
    required: true
    type: string
   environment:
    required: true
    type: string
   component:
    required: true
    type: string
env:
   acid: 406682759639
jobs:
 nodejs-pipleline:
  runs-on: self-hosted
  steps:
  - name: Get code
    uses: actions/checkout@v6
  - name: install dependencies
    run: npm install
  - name: test code
    run: npm run test
  - name: configure aws credentials
    uses: aws-actions/configure-aws-credentials@v5
    with:
        aws-region: us-east-1
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  - name: build image
    run: |
        docker build -t ${acid}.dkr.ecr.us-east-1.amazonaws.com/${{inputs.project}}/${{inputs.component}}:latest .
        docker images
  - name: push image
    run: |
        aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${acid}.dkr.ecr.us-east-1.amazonaws.com
        docker push ${acid}.dkr.ecr.us-east-1.amazonaws.com/${{inputs.project}}/${{inputs.component}}:latest
   
