name: nodejs pipeline
on:
 workflow_call:  #This pipeline can be called by other pipelines
  inputs:        #The caller should provide the inputs if these are required.
   project:
    required: true
    type: string
   environment:
    required: true
    type: string
   component:
    required: true
    type: string
env:
 acid: 406682759639    
 appVersion: ${{ github.sha }}  #The commit is is stored in sha variable of context "github".
jobs:
 nodejs-pipeline:   # Name of the pipeline
  runs-on: self-hosted  # Using the runner defined by us.
  steps:
  - name: Get code    # Downloading the code into the runner using a plugin.
    uses: actions/checkout@v6
      
  - name: List files
    run: ls -l
  
  #- name: get commitid
  #  run: |   # if you store commit id in GITHUB_ENV, it can be used in other steps and in same job.
  #    echo "version=${GITHUB_SHA::5}" >> "${GITHUB_ENV}"
  # - name: Print version
  #  run: |
  #    echo "Version: ${version}
  
  - name: Print app version   #Print only first 5 charecters of commitid.
    run: echo ${appVersion::5}

  - name: Print inputs
    run: |
      echo "${{ inputs.project }}"
      echo "${{inputs.environment}}"
      echo "${{inputs.component}}"

  - name: Install dependencies
    run: npm install

  - name: Run test
    run: npm run test

  - name: Configure AWS credentials
    uses: aws-actions/configure-aws-credentials@v5
    with:
      aws-region: us-east-1
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      
  - name: Build image
    run: |
      docker build -t ${acid}.dkr.ecr.us-east-1.amazonaws.com/${{inputs.project}}/${{inputs.component}}:${appVersion::5} .
      docker images

  - name: Push image
    run: |
     aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${acid}.dkr.ecr.us-east-1.amazonaws.com
     docker push ${acid}.dkr.ecr.us-east-1.amazonaws.com/${{inputs.project}}/${{inputs.component}}:${appVersion::5}
    















  
     
